In [2]:
import pandas as pd
import numpy as np

In [11]:
df1 = pd.DataFrame(np.random.randn(11, 1), index=list("ABCDEFGHIJK"), columns=list("0"))

In [12]:
df1

          0
A -0.453774
B  0.388741
C  1.819562
D -0.142787
E -0.889008
F -1.326447
G  1.085178
H -1.274885
I  0.313114
J -1.173383
K  0.929153

In [13]:
df2 = pd.DataFrame(np.random.randn(7, 1), index=list("ABEFGHI"), columns=list("0"))

In [14]:
df2

          0
A  0.758401
B  0.821399
E  0.761427
F  0.295409
G -1.327408
H -0.191743
I -1.603208

In [19]:
s1 = df1["0"]

In [20]:
s1

A   -0.453774
B    0.388741
C    1.819562
D   -0.142787
E   -0.889008
F   -1.326447
G    1.085178
H   -1.274885
I    0.313114
J   -1.173383
K    0.929153
Name: 0, dtype: float64

In [21]:
s2 = df2["0"]

In [22]:
s2

A    0.758401
B    0.821399
E    0.761427
F    0.295409
G   -1.327408
H   -0.191743
I   -1.603208
Name: 0, dtype: float64

In [23]:
s2.shape

(7,)

In [24]:
pd.concat([s1, s2], axis=1)

          0         0
A -0.453774  0.758401
B  0.388741  0.821399
C  1.819562       NaN
D -0.142787       NaN
E -0.889008  0.761427
F -1.326447  0.295409
G  1.085178 -1.327408
H -1.274885 -0.191743
I  0.313114 -1.603208
J -1.173383       NaN
K  0.929153       NaN

In [25]:
pd.concat([s1, s2], axis=1, join_axes=[s1.index])

          0         0
A -0.453774  0.758401
B  0.388741  0.821399
C  1.819562       NaN
D -0.142787       NaN
E -0.889008  0.761427
F -1.326447  0.295409
G  1.085178 -1.327408
H -1.274885 -0.191743
I  0.313114 -1.603208
J -1.173383       NaN
K  0.929153       NaN

In [27]:
pd.concat([s1, s2], axis=1, join="outer")

          0         0
A -0.453774  0.758401
B  0.388741  0.821399
C  1.819562       NaN
D -0.142787       NaN
E -0.889008  0.761427
F -1.326447  0.295409
G  1.085178 -1.327408
H -1.274885 -0.191743
I  0.313114 -1.603208
J -1.173383       NaN
K  0.929153       NaN

In [28]:
df = pd.concat([s1, s2], axis=1, join="outer")

In [29]:
type(df)

pandas.core.frame.DataFrame